---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Install from '../components/Install.astro';
import TechStack from '../components/TechStack.astro';
import Motivation from '../components/Motivation.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <HowItWorks />
    <Install />
    <TechStack />
    <Motivation />
  </main>
  <Footer />
</Layout>
